
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class="bgimg">
        <div class="topleft">
            <p>
                <table>
                    <tr>
                        <td>
                            <input type="button" onclick="location.href='@Url.Action("Index", "Login")'" value="Login" class="btn btn-primary" />
                        </td>
                        <td>
                            <input type="button" onclick="location.href='@Url.Action("Register", "Login")'" value="Request Invite" class="btn btn-primary" />
                        </td>
                    </tr>
                   
                </table>

            </p>
        </div>
        <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
            <p>7 days</p>
        </div>
        <div class="bottomleft">
            <p></p>
        </div>
    </div>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bgimg {
            background-image: url('/Images/Coming.jpg');
            height: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
            color: white;
            font-family: "Courier New", Courier, monospace;
            font-size: 25px;
        }

        .topleft {
            position: absolute;
            top: 0;
            left: 16px;
        }

        .bottomleft {
            position: absolute;
            bottom: 0;
            left: 16px;
        }

        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        hr {
            margin: auto;
            width: 40%;
        }
    </style>
   
</body>
</html>
